<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
        background:red;
        color:White;
      }
    </style>
</head>
<body>
    <h1>Consumin 3rd party APIs Demo...</h1>
    <h2>Your Geographic Information</h2>
    <h3>Your IPAddress: {{ip}} </h3>
    <h3>Your Continent Name: {{continent_name}} </h3>
    <h3>Your Country Name: {{country_name}} </h3>
    <h3>Your Region Name: {{region_name}} </h3>
    <h3>Your City: {{city}} </h3>
    <h3>Your Zip: {{zip}} </h3>
    <h3>Your latitude: {{latitude}} </h3>
    <h3>Your Longitude: {{longitude}} </h3>
    <h3>Your location: {{location}} </h3>
    <h3>Your country flag: {{country_flag}} </h3>
</body>
</html>